# 파이썬 시작
## 파이썬 기초
### 기본 문법

In [13]:
print(1 + 2)
print('Hello!!')
a = 10
a
b = 20
b

3
Hello!!

20

In [14]:
print('Hello!')

Hello!

In [16]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [22]:
print(123, 456, 'abc')
print(str(123) + str(456) + 'abc')

123 456 abc
123456abc

In [25]:
print('Hello! ' * 5)
print(5 * 'Hello! ')
print(23 * 5)

Hello! Hello! Hello! Hello! Hello!
Hello! Hello! Hello! Hello! Hello!
115

In [27]:
print(10)
print(20)
print()
print(30)
print(40)

10
20

30
40

In [31]:
print(10, end = '')
print(20)
print()
print(30, end = '')
print(40)

1020

3040

In [38]:
var1 = 10
var2 = 12.34
var3 = 'abc'
var4 = "abc"   
var5 = True
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))
print()

var1 = 'abc'
print(type(var1))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

<class 'str'>

In [52]:
a = 'abc'
b = "abc"
c = 'abc "abc" def'
d = "abc 'abc' def"
e = "abc \"abc\" \n def"
print(a, b, c, d, e)

abc abc abc "abc" def abc 'abc' def abc "abc"
 def

In [47]:
a = """우리나라
대한민국
금수강산
"""
print(a)

우리나라
대한민국
금수강산

In [60]:
a = "우리나라 대한민국 금수강산"
print(a)
print(a[1])
print(a[0:4])
print(a[5:])
print(a[:4])
print(len(a))

우리나라 대한민국 금수강산
리
우리나라
대한민국 금수강산
우리나라
14

In [61]:
print(1 + 2)
print(1 - 3)
print(5 / 3)
print(5 // 3)
print(5 % 3) #나머지만

3
-2
1.6666666666666667
1
2

In [63]:
a1 = 10

print(a1, b1)

NameError: name 'b1' is not defined

In [82]:
a = 20
a = a + 5
a += 5
print(a)

print(++a)

30
30
30

In [83]:
no = input('번호 : ')
name = input('이름 : ')
kor = input('국어 : ')
eng = input('영어 : ')
mat = input('수학 : ')
tot = float(kor) + float(eng) + float(mat)
print(no, name, kor, eng, mat, tot)

번호 : 1
이름 :
국어 : sfda점
영어 :
수학 :

ValueError: could not convert string to float: 'sfda점'

In [84]:
str_input = input("원의 반지름 입력> ")
num_input = float(str_input)
print()
print("반지름: ", num_input)
print("둘레: ", 2 * 3.14 * num_input)
print("넓이: ", 3.14 * num_input ** 2)

원의 반지름 입력> 2

반지름:  2.0
둘레:  12.56
넓이:  12.56

In [115]:
aa = input("<문자열 입력> ")
bb = input("<문자열 입력> ")
print(aa, bb)
cc=aa
aa=bb
bb=cc
print(aa, bb)

<문자열 입력> a
<문자열 입력> b
a b
b a

In [91]:
a = "{}번은 이름이 {}이고 나이는 {}입니다.".format(1, '홍길동', 30)
a = '1번은 이름이 홍길동이고 나이는 30입니다.'
print(a)

1번은 이름이 홍길동이고 나이는 30입니다.

In [103]:
a = 123.456
print(a)
print("{:5f}".format(a))
print("{:5.2f}".format(a))
print("{:.2f}".format(a))
print("{:10.2f}".format(a))
print("{:010.2f}".format(a))
print("{:+10.2f}".format(a))
print("{:-10.2f}".format(a))
print("{:=+10.2f}".format(a))
print("{:^10.2f}".format(a))
print("{:<10.2f}".format(a))

123.456
123.456000
123.46
123.46
    123.46
0000123.46
   +123.46
    123.46
+   123.46
  123.46
123.46

In [114]:
a = "hello"
print("{}".format(a))
print("{:10s}".format(a))
print("{:^10s}".format(a))
print("{:>10s}".format(a))
print("{:>010s}".format(a))

b = '파이썬은 쉽다.'
print("{}".format(b))
print("{:10s}".format(b))
print("{:^10s}".format(b))
print("{:>10s}".format(b))

c = 12.0
print(c)
print("{}".format(c))
print("{:3.0f}".format(c))
print("{:g}".format(c))

hello
hello
  hello
     hello
00000hello
파이썬은 쉽다.
파이썬은 쉽다.
 파이썬은 쉽다.
  파이썬은 쉽다.
12.0
12.0
 12
12

In [117]:
a = " 대전 서구 둔산서로 17"

print(a)
print(a.strip())
print(a.strip('서구'))

 대전 서구 둔산서로 17
대전 서구 둔산서로 17
 대전 서구 둔산서로 17

In [124]:
a = input('데이터를 입력해 주세요 : ')
if a.isdigit():
    print('숫자입니다')
else:
    print('숫자가 아닙니다')

데이터를 입력해 주세요 : abc
숫자가 아닙니다

In [131]:
a = '안녕하세요! 여기는 중앙능력개발원! 입니다.'
print(a.find('대한'))
print(a.rfind('!'))

-1
18

In [134]:
print('여 기' in a)

False

In [135]:
lista = ['a', 'b', 'c', 'd', 'e']

if 'c' in lista:
    print('있다')
else: 
    print('없다')

있다

In [137]:
contents = """정부가 내년 예산안을 656조9000억원으로 편성했다. 올해 예산보다 2.8% 늘어난 규모다. 재정통계가 정비된 2005년 이후 가장 낮은 증가율이다. 세수 여건이 열악한 상황에서 방만하게 나라 살림을 운용할 경우 대외 신인도가 떨어지고 미래세대에 빚을 떠넘길 수밖에 없다는 판단에 따른 것이다.

허리띠를 바짝 조이지만 △약자 복지"""

words = contents.split(' ')
print(words)

['정부가', '내년', '예산안을', '656조9000억원으로', '편성했다.', '올해', '예산보다', '2.8%', '늘어난', '규모다.', '재정통계가', '정비된', '2005년', '이후', '가장', '낮은', '증가율이다.', '세수', '여건이', '열악한', '상황에서', '방만하게', '나라', '살림을', '운용할', '경우', '대외', '신인도가', '떨어지고', '미래세대에', '빚을', '떠넘길', '수밖에', '없다는', '판단에', '따른', '것이다.\n\n허리띠를', '바짝', '조이지만', '△약자', '복지']

In [139]:
# a = "{}입니다".format(15)
a = f'{10}입니다'
print(a)

10입니다

In [144]:
print("{}{}".format(32, 273))
print("{}{}".format(32, type(273)))
# print("{}{}{}".format(32, type(273))) #넘겨받을 갯수 부족
print("{}".format(32, 273)) #남는 갯수는 넘어간다.

32273
32<class 'int'>
32

In [148]:
string = 'hello'
string.upper()
print(string)
string = string.upper()
print(string.upper())
print(string)

hello
HELLO
HELLO

In [157]:
a = input("> 1번째 숫자: ")
b = input("> 2번째 숫자: ")
print()

print("{} + {} = {}".format(int(a), int(b), int(a)+int(b)))

> 1번째 숫자: 100
> 2번째 숫자: 200

100 + 200 = 300

In [153]:
# 구의부피와 겉넓이
r = float(input("구의 반지름을 입력해주세요: "))
print("= 구의 부피는 {}입니다.".format(4 / 3 * 3.141592 * r **3))
print("= 구의 겉넓이는 {}입니다.".format(4 * 3.141592 * r **2))

구의 반지름을 입력해주세요: 5
= 구의 부피는 523.5986666666666입니다.
= 구의 겉넓이는 314.1592입니다.