# 튜플 - 리스트와 같다. 단 고정이다. 수정불가, 추가불가

In [7]:
a = (1,2)
b = (1,)
k = 10, 20, 30
print(a[0])
print(k)

1
(10, 20, 30)

In [2]:
(a, b) = 10,20
print(a, b)

10 20

In [6]:
def test():
    return 10, 20
(a, b) = test()
print(a)
print(b)

a = 30
print(a)

c = (10, 20)
c[0] = 30
print(c)

10
20
30

TypeError: 'tuple' object does not support item assignment

In [13]:
dict_st = {
    "no" : 1,
    "name" : "abc",
    "age" : 30  
}
for ele in dict_st:
    print(ele, type(ele))
print(dict_st.items())
for key, value in dict_st.items():
    print(key, value)

no <class 'str'>
name <class 'str'>
age <class 'str'>
dict_items([('no', 1), ('name', 'abc'), ('age', 30)])
no 1
name abc
age 30

## 05-3 함수 고급 
### 람다(322p)
#### lambda 변수 : 리턴값

In [15]:
def add_num(x, y):
    return x + y

print(add_num(3, 5))

8

In [20]:
re = lambda x, y : x + y
print(re(3,5))

8

In [26]:
a = ['1','2','3','4']
tot = 0

for num in a:
    tot += int(num)
print(tot)

10

In [27]:
a = ['1','2','3','4']
a = map(int, a)
tot = 0

for num in a:
    tot += num
print(tot)

10