# 어쩌다 데이터 분석 with 파이썬
## 2.2판다스 기본(90p)
### - 2.2.1  데이터 기본 구조
### - 시리즈를 생성하는 방법과 특징 (91p)
### - 시리즈의 index와 values (91p)

In [16]:
import pandas as pd # 판다스 라이브러리 가져오기
import numpy as np # 넘파이 라이브러리 가져오기

ser = pd.Series([1, 2, 3, 4, 5, 6]) # Series(): 시리즈 생성
# print("index(주소) / values(값)")
# print(ser)
# print(ser.index)
print(ser.values)

[1 2 3 4 5 6]

### - 넘파이 배열을 활용해서 시리즈 생성하기 (92p)

In [19]:
data = np.random.randint(1, 11, 5)
print(data) # 랜덤 값

index = ['a', 'b' , 'c', 'd', 'e']
ser = pd.Series(data, index = index, name = 'series_from_ndarray')
print(ser)

[8 8 9 2 2]
a    8
b    8
c    9
d    2
e    2
Name: series_from_ndarray, dtype: int32

### - 딕셔너리를 활용해서 시리즈 생성하기(92p)

In [20]:
data = {
    '서울' : 12345,
    '대전' : 21321,
    '대구' : 21341,
    '부산' : 43532,
    '광주' : 42511        
}

ser = pd.Series(data=data)
print(ser)

서울    12345
대전    21321
대구    21341
부산    43532
광주    42511
dtype: int64

### - 데이터프레임을 생성하는 방법과 특징 (94p)
#### - 리스트가 담긴 딕셔너리를 활용하여 데이터프레임 생성하기 (95p)

In [34]:
students = {
    "name" : ['홍길동', '개똥이', '이쁜이', '망아지', '강아지'],
    "kor" : [90, 80, 100, 70, 95],
    "eng" : [85, 75, 80, 85, 70],
    "mat" : [70, 80, 90, 80, 100]
}
st = pd.DataFrame(students, index = [1, 2, 3, 4, 5], columns = ['name', 'kor', 'eng', 'mat'])

print(st)

  name  kor  eng  mat
1  홍길동   90   85   70
2  개똥이   80   75   80
3  이쁜이  100   80   90
4  망아지   70   85   80
5  강아지   95   70  100

## 2.3 데이터 로드와 저장(100p)
### - 2.3.1 데이터 로드
### ■ csv 파일 로드하기

In [51]:
df = pd.read_csv('data/승하차인원.csv', encoding='cp949')

print(df)

      역명  구분  03-04시  04-05시  05-06시  06-07시  07-08시  08-09시  09-10시  10-11시  \
0     판암  승차       0       0      37      39      47     115     155     161
1     판암  하차       0       0      12      44      43      40      66      85
2     신흥  승차       0       0      12      14      15      45      58      50
3     신흥  하차       0       0       4      12      12      16      27      24
4     대동  승차       0       0      31      34      54      78     113     127
...   ..  ..     ...     ...     ...     ...     ...     ...     ...     ...
9323  노은  하차       0       0      19      43     142     313     282     183
9324  지족  승차       0       0      33      47     142     237     115      78
9325  지족  하차       0       0      17      35      93     363     167      82
9326  반석  승차       0       0      58     197     822     998     441     341
9327  반석  하차       0       0      48     169     384     605     226     185

      ...  17-18시  18-19시  19-20시  20-21시  21-22시  22-23시  23-00시  00-01시  \
0     ...     124     125      82      86      35      18      12       0
1     ...     169     135     109      97     100      99      60      23
2     ...      35      33      20      20      16       7       2       0
3     ...      63      59      46      43      35      34      17       4
4     ...     127      73      62      57      39      33      19       1
...   ...     ...     ...     ...     ...     ...     ...     ...     ...
9323  ...     317     544     324     193     188     152      72       6
9324  ...     170     337     122      77      36      32      18       0
9325  ...     119     192      86      80      76      62      40      12
9326  ...     491     818     305     232     236     166      88       0
9327  ...     632    1032     414     349     340     361     142      35

      01-02시  02-03시
0          0       0
1          0       0
2          0       0
3          0       0
4          0       0
...      ...     ...
9323       0       0
9324       0       0
9325       0       0
9326       0       0
9327       0       0

[9328 rows x 26 columns]

### ■ 컬럼명 항목이 없는 데이터 로드하기 (101p)

In [56]:
df = pd.read_csv('data/대전기온2.csv', encoding='cp949', 
                 names = ['코드', '지역', '날짜', '평균기온', 
                          '최고기온', '최고시간', '최저기온', '최저시간', '일교차'], header = None)
# df.columns = ['코드', '지역', '날짜', '평균기온', '최고기온', '최고시간', '최저기온', '최저시간', '일교차']
print(df)

           코드   지역          날짜  평균기온  최고기온   최고시간  최저기온   최저시간   일교차
0     \t\t133   대전  2013-01-01  -3.6   3.3  13:19  -9.4   4:49  12.7
1     \t\t133   대전  2013-01-02  -8.1  -0.6   1:09 -12.9  23:30  12.3
2     \t\t133   대전  2013-01-03 -11.2  -5.2  15:20 -16.5   7:11  11.3
3     \t\t133   대전  2013-01-04 -10.5  -4.3  15:17 -16.5   7:50  12.2
4     \t\t133   대전  2013-01-05  -6.8   0.5  14:10 -15.3   7:42  15.8
...       ...  ...         ...   ...   ...    ...   ...    ...   ...
3655       \t  NaN         NaN   NaN   NaN    NaN   NaN    NaN   NaN
3656       \t  NaN         NaN   NaN   NaN    NaN   NaN    NaN   NaN
3657     \t\t  NaN         NaN   NaN   NaN    NaN   NaN    NaN   NaN
3658       \t  NaN         NaN   NaN   NaN    NaN   NaN    NaN   NaN
3659       \t  NaN         NaN   NaN   NaN    NaN   NaN    NaN   NaN

[3660 rows x 9 columns]

### ■ 일부 행을 건너뛰고 데이터 로드하기(103p)

In [57]:
df = pd.read_csv('data/대전기온2.csv', encoding='cp949', 
                 names = ['코드', '지역', '날짜', '평균기온', 
                          '최고기온', '최고시간', '최저기온', '최저시간', '일교차'], skiprows=[1,3])
# df.columns = ['코드', '지역', '날짜', '평균기온', '최고기온', '최고시간', '최저기온', '최저시간', '일교차']
print(df)

           코드   지역          날짜  평균기온  최고기온   최고시간  최저기온   최저시간   일교차
0     \t\t133   대전  2013-01-01  -3.6   3.3  13:19  -9.4   4:49  12.7
1     \t\t133   대전  2013-01-03 -11.2  -5.2  15:20 -16.5   7:11  11.3
2     \t\t133   대전  2013-01-05  -6.8   0.5  14:10 -15.3   7:42  15.8
3     \t\t133   대전  2013-01-06  -4.9   0.6  15:00  -8.5  23:40   9.1
4     \t\t133   대전  2013-01-07  -5.0   1.0  14:40 -10.7   4:33  11.7
...       ...  ...         ...   ...   ...    ...   ...    ...   ...
3653       \t  NaN         NaN   NaN   NaN    NaN   NaN    NaN   NaN
3654       \t  NaN         NaN   NaN   NaN    NaN   NaN    NaN   NaN
3655     \t\t  NaN         NaN   NaN   NaN    NaN   NaN    NaN   NaN
3656       \t  NaN         NaN   NaN   NaN    NaN   NaN    NaN   NaN
3657       \t  NaN         NaN   NaN   NaN    NaN   NaN    NaN   NaN

[3658 rows x 9 columns]

### ■ 특정 컬럼을 인덱스로 지정해서 로드하기(102~103p)

In [65]:
df = pd.read_csv('data/대전기온3.csv', encoding='cp949', index_col = '일자', skiprows = [1, 3])

print(df)

              평균   최고    최저   일교차
일자
2013-01-02  -8.1 -0.6 -12.9  12.3
2013-01-04 -10.5 -4.3 -16.5  12.2
2013-01-05  -6.8  0.5 -15.3  15.8
2013-01-06  -4.9  0.6  -8.5   9.1
2013-01-07  -5.0  1.0 -10.7  11.7
...          ...  ...   ...   ...
NaN          NaN  NaN   NaN   NaN
NaN          NaN  NaN   NaN   NaN
NaN          NaN  NaN   NaN   NaN
NaN          NaN  NaN   NaN   NaN
NaN          NaN  NaN   NaN   NaN

[3650 rows x 4 columns]

### ■ NA(결특값)가 포함된 데이터 로드하기(104p)

In [68]:
df = pd.read_csv('data/대전기온3.csv', encoding='cp949', index_col = '일자')

print(df)

              평균   최고    최저   일교차
일자
2013-01-01  -3.6  3.3  -9.4  12.7
2013-01-02  -8.1 -0.6 -12.9  12.3
2013-01-03 -11.2 -5.2 -16.5  11.3
2013-01-04 -10.5 -4.3 -16.5  12.2
2013-01-05  -6.8  0.5   NaN  15.8
2013-01-06  -4.9  0.6  -8.5   9.1
2013-01-07   NaN  1.0 -10.7  11.7
2013-01-08  -4.2  1.9  -9.2  11.1
2013-01-09  -6.3 -1.9   NaN   7.8
2013-01-10  -7.9 -1.5 -13.8  12.3

In [70]:
# isnull() 함수 : NaN문자가 표시되는 곳은 True값을 출력
pd.isnull(df)

               평균     최고     최저    일교차
일자
2013-01-01  False  False  False  False
2013-01-02  False  False  False  False
2013-01-03  False  False  False  False
2013-01-04  False  False  False  False
2013-01-05  False  False   True  False
2013-01-06  False  False  False  False
2013-01-07   True  False  False  False
2013-01-08  False  False  False  False
2013-01-09  False  False   True  False
2013-01-10  False  False  False  False

### ■ 인코딩 관련 에러 대응하기(105p) 참고하기

### ■ 판다스로 로드 가능한 파싱 함수 목록 (108p)
#### - 한국복지패널을 통해 얻은 데이터를 참고
#### - Stata 파일 로드

In [ ]:
df = pd.read_stata('data/복지데이터.dta')
print(df)
df.to_excel('data/한국복지.xlsx')