# 어쩌다 데이터 분석 with 파이썬

In [54]:
import pandas as pd

data = pd.read_excel('data/한국복지.xlsx')

#          공적연금,   수급연금, 근로유형,  월 평균임금,   건강만족도, 흡연여부,    년간음주량, 최종학력,    보유직종,
columns = ['p1701_2', 'p1701_3', 'p1702_1', 'p1702_8aq1', 'p1703_5', 'p1705_3aq5', 'p1705_2', 'p1707_3aq1', 'np1706_28']

korea = data[columns]
korea = korea.rename(columns = {'p1701_2' : '공적연금', 'p1701_3' : '수급연금', 'p1702_1' : '근로유형', 
                                'p1702_8aq1': '월평균임금', 'p1703_5' : '건강만족도', 
                                'p1705_3aq5' : '흡연여부', 'p1705_2' : '년간음주량', 'p1707_3aq1' : '최종학력', 'np1706_28' : '보유직종'})
korea

       공적연금  수급연금  근로유형  월평균임금  건강만족도  흡연여부  년간음주량  최종학력  보유직종
0       NaN   NaN   4.0    NaN    2.0   2.0    5.0   NaN   NaN
1       NaN   NaN   1.0  172.0    2.0   2.0    5.0   NaN   NaN
2       1.0   1.0   1.0  100.0    5.0   2.0    5.0   NaN   NaN
3       NaN   NaN   1.0  268.0    3.0   2.0    5.0   NaN   NaN
4       NaN   NaN   1.0  140.0    3.0   2.0    5.0   NaN   NaN
...     ...   ...   ...    ...    ...   ...    ...   ...   ...
14453   NaN   NaN   4.0    NaN    4.0   2.0    3.0   4.0   NaN
14454   NaN   NaN   1.0  833.0    4.0   1.0    5.0   4.0   NaN
14455   NaN   NaN   4.0    NaN    NaN   2.0    5.0   4.0   NaN
14456   NaN   NaN   2.0    NaN    4.0   2.0    5.0   4.0   NaN
14457   NaN   NaN   4.0    NaN    4.0   2.0    5.0   4.0   NaN

[14458 rows x 9 columns]

In [56]:
korea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14458 entries, 0 to 14457
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   공적연금    3340 non-null   float64
 1   수급연금    2959 non-null   float64
 2   근로유형    14152 non-null  float64
 3   월평균임금   5633 non-null   float64
 4   건강만족도   13474 non-null  float64
 5   흡연여부    14152 non-null  float64
 6   년간음주량   14152 non-null  float64
 7   최종학력    3678 non-null   float64
 8   보유직종    41 non-null     float64
dtypes: float64(9)
memory usage: 1016.7 KB

### 문제: 건강만족도 별 인원수 구하기

In [10]:
korea['건강만족도'].unique()

array([ 2.,  5.,  3.,  4., nan,  1.])

In [11]:
korea['건강만족도'].count()

13474

In [30]:
#13474명중 만족도 1 2 3 4 5 nan별로 구분하기
#1.매우불만족, 2.대체로 만족, 3.그저그렇다, 4.대체로 만족, 5.매우만족        
korea['건강만족도'].value_counts()

4.0    5761
3.0    3760
2.0    2945
5.0     509
1.0     499
Name: 건강만족도, dtype: int64

### 문제: 흡연자 수 파악

In [14]:
korea['흡연여부'].unique()

array([ 2.,  1., nan])

In [15]:
korea['흡연여부'].count()

14152

In [31]:
# 1. 피움 2. 피우지 않음
korea['흡연여부'].value_counts()

2.0    11955
1.0     2197
Name: 흡연여부, dtype: int64

### columns 함수로 순서 지정하기(145p)

In [57]:
korea.columns = korea.columns[[2, 3, 4, 5, 6, 0, 1, 7, 8]]
korea

       근로유형  월평균임금  건강만족도   흡연여부  년간음주량  공적연금  수급연금  최종학력  보유직종
0       NaN    NaN    4.0    NaN    2.0   2.0   5.0   NaN   NaN
1       NaN    NaN    1.0  172.0    2.0   2.0   5.0   NaN   NaN
2       1.0    1.0    1.0  100.0    5.0   2.0   5.0   NaN   NaN
3       NaN    NaN    1.0  268.0    3.0   2.0   5.0   NaN   NaN
4       NaN    NaN    1.0  140.0    3.0   2.0   5.0   NaN   NaN
...     ...    ...    ...    ...    ...   ...   ...   ...   ...
14453   NaN    NaN    4.0    NaN    4.0   2.0   3.0   4.0   NaN
14454   NaN    NaN    1.0  833.0    4.0   1.0   5.0   4.0   NaN
14455   NaN    NaN    4.0    NaN    NaN   2.0   5.0   4.0   NaN
14456   NaN    NaN    2.0    NaN    4.0   2.0   5.0   4.0   NaN
14457   NaN    NaN    4.0    NaN    4.0   2.0   5.0   4.0   NaN

[14458 rows x 9 columns]

In [58]:
import seaborn as sns
data = sns.load_dataset('penguins')
data

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g     sex
0    Adelie  Torgersen            39.1           18.7              181.0       3750.0    Male
1    Adelie  Torgersen            39.5           17.4              186.0       3800.0  Female
2    Adelie  Torgersen            40.3           18.0              195.0       3250.0  Female
3    Adelie  Torgersen             NaN            NaN                NaN          NaN     NaN
4    Adelie  Torgersen            36.7           19.3              193.0       3450.0  Female
..      ...        ...             ...            ...                ...          ...     ...
339  Gentoo     Biscoe             NaN            NaN                NaN          NaN     NaN
340  Gentoo     Biscoe            46.8           14.3              215.0       4850.0  Female
341  Gentoo     Biscoe            50.4           15.7              222.0       5750.0    Male
342  Gentoo     Biscoe            45.2           14.8              212.0       5200.0  Female
343  Gentoo     Biscoe            49.9           16.1              213.0       5400.0    Male

[344 rows x 7 columns]

In [59]:
col_to_stay = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']
cols = col_to_stay + [col for col in data if col not in col_to_stay]
data = data[cols]
data

     bill_length_mm  bill_depth_mm  flipper_length_mm species     island  body_mass_g     sex
0              39.1           18.7              181.0  Adelie  Torgersen       3750.0    Male
1              39.5           17.4              186.0  Adelie  Torgersen       3800.0  Female
2              40.3           18.0              195.0  Adelie  Torgersen       3250.0  Female
3               NaN            NaN                NaN  Adelie  Torgersen          NaN     NaN
4              36.7           19.3              193.0  Adelie  Torgersen       3450.0  Female
..              ...            ...                ...     ...        ...          ...     ...
339             NaN            NaN                NaN  Gentoo     Biscoe          NaN     NaN
340            46.8           14.3              215.0  Gentoo     Biscoe       4850.0  Female
341            50.4           15.7              222.0  Gentoo     Biscoe       5750.0    Male
342            45.2           14.8              212.0  Gentoo     Biscoe       5200.0  Female
343            49.9           16.1              213.0  Gentoo     Biscoe       5400.0    Male

[344 rows x 7 columns]

## 2.5.8 컬럼과 인덱스 교환하기(146p)

In [46]:
data = data.transpose()
data

                         0          1          2          3          4    ...     339     340     341     342     343
bill_length_mm          39.1       39.5       40.3        NaN       36.7  ...     NaN    46.8    50.4    45.2    49.9
bill_depth_mm           18.7       17.4       18.0        NaN       19.3  ...     NaN    14.3    15.7    14.8    16.1
flipper_length_mm      181.0      186.0      195.0        NaN      193.0  ...     NaN   215.0   222.0   212.0   213.0
species               Adelie     Adelie     Adelie     Adelie     Adelie  ...  Gentoo  Gentoo  Gentoo  Gentoo  Gentoo
island             Torgersen  Torgersen  Torgersen  Torgersen  Torgersen  ...  Biscoe  Biscoe  Biscoe  Biscoe  Biscoe
body_mass_g           3750.0     3800.0     3250.0        NaN     3450.0  ...     NaN  4850.0  5750.0  5200.0  5400.0
sex                     Male     Female     Female        NaN     Female  ...     NaN  Female    Male  Female    Male

[7 rows x 344 columns]

In [71]:
data = data.T
data

                         0          1          2          3          4    ...     339     340     341     342     343
bill_length_mm          39.1       39.5       40.3        NaN       36.7  ...     NaN    46.8    50.4    45.2    49.9
bill_depth_mm           18.7       17.4       18.0        NaN       19.3  ...     NaN    14.3    15.7    14.8    16.1
flipper_length_mm      181.0      186.0      195.0        NaN      193.0  ...     NaN   215.0   222.0   212.0   213.0
species               Adelie     Adelie     Adelie     Adelie     Adelie  ...  Gentoo  Gentoo  Gentoo  Gentoo  Gentoo
island             Torgersen  Torgersen  Torgersen  Torgersen  Torgersen  ...  Biscoe  Biscoe  Biscoe  Biscoe  Biscoe
body_mass_g           3750.0     3800.0     3250.0        NaN     3450.0  ...     NaN  4850.0  5750.0  5200.0  5400.0
sex                     Male     Female     Female        NaN     Female  ...     NaN  Female    Male  Female    Male

[7 rows x 344 columns]

In [69]:
data.T

                         0          1          2          3          4    ...     339     340     341     342     343
bill_length_mm          39.1       39.5       40.3        NaN       36.7  ...     NaN    46.8    50.4    45.2    49.9
bill_depth_mm           18.7       17.4       18.0        NaN       19.3  ...     NaN    14.3    15.7    14.8    16.1
flipper_length_mm      181.0      186.0      195.0        NaN      193.0  ...     NaN   215.0   222.0   212.0   213.0
species               Adelie     Adelie     Adelie     Adelie     Adelie  ...  Gentoo  Gentoo  Gentoo  Gentoo  Gentoo
island             Torgersen  Torgersen  Torgersen  Torgersen  Torgersen  ...  Biscoe  Biscoe  Biscoe  Biscoe  Biscoe
body_mass_g           3750.0     3800.0     3250.0        NaN     3450.0  ...     NaN  4850.0  5750.0  5200.0  5400.0
sex                     Male     Female     Female        NaN     Female  ...     NaN  Female    Male  Female    Male

[7 rows x 344 columns]

In [66]:
data[['bill_length_mm', 'sex']]

     bill_length_mm     sex
0              39.1    Male
1              39.5  Female
2              40.3  Female
3               NaN     NaN
4              36.7  Female
..              ...     ...
339             NaN     NaN
340            46.8  Female
341            50.4    Male
342            45.2  Female
343            49.9    Male

[344 rows x 2 columns]

In [75]:
data.loc[['bill_length_mm', 'sex']]

                 0       1       2    3       4     5       6    ...   337     338  339     340   341     342   343
bill_length_mm  39.1    39.5    40.3  NaN    36.7  39.3    38.9  ...  48.8    47.2  NaN    46.8  50.4    45.2  49.9
sex             Male  Female  Female  NaN  Female  Male  Female  ...  Male  Female  NaN  Female  Male  Female  Male

[2 rows x 344 columns]

In [79]:
data.loc[['bill_length_mm', 'sex'], 3:10]

                 3       4     5       6     7     8     9     10
bill_length_mm  NaN    36.7  39.3    38.9  39.2  34.1  42.0  37.8
sex             NaN  Female  Male  Female  Male   NaN   NaN   NaN