# 5장 함수 (273p)

In [1]:
def print_3_times():
    print('안녕하세요')
    print('안녕하세요')
    print('안녕하세요')
print_3_times()

안녕하세요
안녕하세요
안녕하세요

In [3]:
def print_3_times(s):
    print(s)
    print(s)
    print(s) 
print_3_times('안녕하세요')

안녕하세요
안녕하세요
안녕하세요

In [7]:
def print_3_times(s, n):
    for i in range(n):
        print(s)
print_3_times('Hello', 5)

Hello
Hello
Hello
Hello
Hello

<가변 매개 변수>

In [14]:
def num_add(*value):
    print(type(value), len(value), value)
    tot = 0
    for i in value:
        tot += i
    return tot
num_add(10, 20, 30, 60, 70)

<class 'tuple'> 5 (10, 20, 30, 60, 70)

190

In [16]:
tot = num_add(3, 4, 5, 3, 6, 7)
print(tot)

<class 'tuple'> 6 (3, 4, 5, 3, 6, 7)
28

In [18]:
def test(str1, str2, *n):
    print(str1, str2)
    print(n) 
    
test('abc', 'def', 'a', 'b', 'c')

abc def
('a', 'b', 'c')

In [19]:
def test(*n, str1, str2):
    print(str1, str2)
    print(n) 
    
test('abc', 'def', 'a', 'b', 'c')

TypeError: test() missing 2 required keyword-only arguments: 'str1' and 'str2'

In [30]:
def test(a=10, b=20, c=30):
    print('a : ', a, ', b : ', b, ', c : ', c)    
    return a+b+c

print(test())    
print(test(100))    
print(test(100, 200, 300))
print(test(b=100, c=200, a=300))  
print(test(100, c=200))  
print(test(a=100, 200)) #Error

SyntaxError: positional argument follows keyword argument (2551541942.py, line 10)

In [38]:
def test(*val, n=5, k='\n'):
    for i in range(n):
        print(val, k)
test('abc', '안녕!', '으미', n=5, k='\t')

('abc', '안녕!', '으미')
('abc', '안녕!', '으미')
('abc', '안녕!', '으미')
('abc', '안녕!', '으미')
('abc', '안녕!', '으미')

In [47]:
print('abc', sep='             ',end=', ')
print('def')

abc, def

In [55]:
def type_print(*value):
    for i in range(len(value)):
        print(value[i], type(value[i]), '\n')

type_print(34, 'abd', [1,2,3], {"name":'fff', 'age':30}, (1,2,3))

34 <class 'int'>

abd <class 'str'>

[1, 2, 3] <class 'list'>

{'name': 'fff', 'age': 30} <class 'dict'>

(1, 2, 3) <class 'tuple'>

In [60]:
def return_test():
    print('A')
    return 'C'
    print('B')

return_test()
print(c)

A

NameError: name 'c' is not defined

In [65]:
def comp(opr, *value):
    match opr:
        case '+':
            return sum(value)
        case '-':
            return value[0] - value[1]
        case '*':
            tot = 1
            for i in range(len(value)):
                tot *= value[i]
            return tot
        case '/':
            return value[0] / value[1]            
            
print(comp('+', 1,3,5,7))
print(comp('-', 54,34))
print(comp('*', 4,5,6,3))
print(comp('/', 67,45))

16
20
360
1.488888888888889

In [64]:
def comp(opr, *value):
    if opr == '+':
        return sum(value)
    if opr == '-':
        return value[0] - value[1]
    if opr == '*':
        tot = 1
        for i in range(len(value)):
            tot *= value[i]
        return tot
    if opr == '/':
        return value[0] / value[1]            
            
print(comp('+', 1,3,5,7))
print(comp('-', 54,34))
print(comp('*', 4,5,6,3))
print(comp('/', 67,45))

16
20
360
1.488888888888889

In [68]:
# 291p - 2번 문제
def mul(*values):
    result = 1
    for i in values:
        result *= i
    return result
print(mul(5, 7, 9, 10))

3150

## 05-3 함수 고급(316p)