## - 대전기온 데이터 가져오기

In [28]:
import pandas as pd
import datetime

data = pd.read_csv('data/대전기온.csv', encoding='cp949')
data

              일자  평균기온  최고기온  최저기온   일교차
0     2013-01-01  -3.6   3.3  -9.4  12.7
1     2013-01-02  -8.1  -0.6 -12.9  12.3
2     2013-01-03 -11.2  -5.2 -16.5  11.3
3     2013-01-04 -10.5  -4.3 -16.5  12.2
4     2013-01-05  -6.8   0.5 -15.3  15.8
...          ...   ...   ...   ...   ...
3647  2022-12-27  -2.3   4.9  -8.4  13.3
3648  2022-12-28  -2.3   2.8  -4.9   7.7
3649  2022-12-29  -3.2   2.3  -8.0  10.3
3650  2022-12-30  -1.1   3.2  -3.7   6.9
3651  2022-12-31  -1.1   4.3  -4.8   9.1

[3652 rows x 5 columns]

## - 월, 주별 최고기온의 평균과 최대값을 구하기오.

In [33]:
# 일자 타입을 datetime으로 변경
data['일자'] = pd.to_datetime(data['일자'], format='%Y-%m-%d')

# 월, 주 컬럼 추가
data['월'] = data['일자'].dt.month
data['주'] = data['일자'].dt.weekday

data_bymax = data.groupby(['월', '주'])
# 생략되는 부분 확인하기
pd.set_option('display.max.rows', 300)
data_bymax.agg(['mean', 'max'])['최고기온'].head(84)

           mean   max
월  주
1  0   5.134884  14.4
   1   4.363636  14.2
   2   4.348889  12.0
   3   4.220000  13.8
   4   4.253333  13.7
   5   5.338636  12.3
   6   5.670455  14.8
2  0   6.939024  19.9
   1   6.622500  16.0
   2   6.742500  14.7
   3   7.517500  18.8
   4   7.810000  16.3
   5   8.304878  18.7
   6   7.655000  22.6
3  0  14.577273  23.4
   1  14.288889  21.5
   2  14.395455  24.4
   3  14.175000  22.1
   4  14.140909  25.7
   5  14.584091  26.1
   6  14.444444  23.1
4  0  19.716279  29.3
   1  20.562791  29.2
   2  19.672093  29.7
   3  19.981395  29.9
   4  20.172093  29.9
   5  20.188372  30.0
   6  19.814286  28.6
5  0  24.793182  30.7
   1  24.593182  31.8
   2  25.431818  32.0
   3  26.234091  32.1
   4  25.844444  32.7
   5  25.700000  33.3
   6  25.568889  32.2
6  0  29.079070  33.8
   1  28.023256  35.7
   2  28.734884  35.0
   3  28.469767  32.9
   4  28.666667  34.8
   5  28.788372  33.5
   6  29.418605  33.8
7  0  29.775000  35.8
   1  30.722727  37.2
   2  30.313333  36.1
   3  30.615909  35.6
   4  31.137778  37.3
   5  30.550000  37.3
   6  29.911364  36.5
8  0  30.806667  38.0
   1  30.640909  38.1
   2  31.227273  39.4
   3  31.250000  38.6
   4  31.409091  37.8
   5  31.148889  37.6
   6  31.027273  35.6
9  0  26.927907  30.9
   1  26.974419  31.5
   2  26.155814  29.9
   3  26.604651  31.5
   4  26.225581  31.3
   5  26.492857  33.0
   6  26.981395  33.1
10 0  20.479545  29.0
   1  20.838636  29.5
   2  20.927273  28.2
   3  21.124444  26.9
   4  20.668182  28.4
   5  21.664444  28.3
   6  21.231818  31.2
11 0  14.083721  21.9
   1  13.625581  20.8
   2  13.060465  20.4
   3  13.576190  22.1
   4  14.353488  23.1
   5  14.848837  25.3
   6  14.383721  21.9
12 0   6.786364  15.2
   1   6.575556  14.6
   2   6.268182  13.3
   3   5.702222  14.8
   4   4.677273  12.5
   5   5.636364  13.8
   6   6.436364  15.0