# 어쩌다 데이터 분석 with 파이썬
## CHAPTER 05 데이터 집계와 그룹 연산

## 5.1 그룹 연산의 이해
## 5.1.1 groupby() 연산 기초(254p)

In [2]:
# 다이아몬드 데이터 셋
import seaborn as sns
diamonds = sns.load_dataset('diamonds')
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [4]:
# groupby() 함수 
grouped = diamonds['price'].groupby(diamonds['clarity'])
grouped.mean()

clarity
IF      2864.839106
VVS1    2523.114637
VVS2    3283.737071
VS1     3839.455391
VS2     3924.989395
SI1     3996.001148
SI2     5063.028606
I1      3924.168691
Name: price, dtype: float64

In [9]:
grouped = diamonds['price'].groupby([diamonds['color'],diamonds['clarity']]).mean()
grouped

color  clarity
D      IF         8307.369863
       VVS1       2947.912698
       VVS2       3351.128391
       VS1        3030.158865
       VS2        2587.225692
       SI1        2976.146423
       SI2        3931.101460
       I1         3863.023810
E      IF         3668.506329
       VVS1       2219.820122
       VVS2       2499.674067
       VS1        2856.294301
       VS2        2750.941700
       SI1        3161.838005
       SI2        4173.826036
       I1         3488.421569
F      IF         2750.836364
       VVS1       2804.276567
       VVS2       3475.512821
       VS1        3796.717742
       VS2        3756.795093
       SI1        3714.225716
       SI2        4472.625233
       I1         3342.181818
G      IF         2558.033774
       VVS1       2866.820821
       VVS2       3845.283437
       VS1        4131.362197
       VS2        4416.256498
       SI1        3774.787449
       SI2        5021.684109
       I1         3545.693333
H      IF         2287.869565
       VVS1       1845.658120
       VVS2       2649.067434
       VS1        3780.688623
       VS2        4722.414486
       SI1        5032.414945
       SI2        6099.895074
       I1         4453.413580
I      IF         1994.937063
       VVS1       2034.861972
       VVS2       2968.232877
       VS1        4633.183992
       VS2        5690.505560
       SI1        5355.019663
       SI2        7002.649123
       I1         4302.184783
J      IF         3363.882353
       VVS1       4034.175676
       VVS2       5142.396947
       VS1        4884.461255
       VS2        5311.058824
       SI1        5186.048000
       SI2        6520.958246
       I1         5254.060000
Name: price, dtype: float64

In [10]:
diamonds.groupby(['cut']).mean()

,carat,depth,table,price,x,y,z
cut,,,,,,,
Ideal,0.702837,61.709401,55.951668,3457.541970,5.507451,5.520080,3.401448
Premium,0.891955,61.264673,58.746095,4584.257704,5.973887,5.944879,3.647124
Very Good,0.806381,61.818275,57.956150,3981.759891,5.740696,5.770026,3.559801
Good,0.849185,62.365879,58.694639,3928.864452,5.838785,5.850744,3.639507
Fair,1.046137,64.041677,59.053789,4358.757764,6.246894,6.182652,3.982770

In [43]:
di = diamonds.groupby(['carat']).size()
di

carat
0.20     12
0.21      9
0.22      5
0.23    293
0.24    254
       ...
4.00      1
4.01      2
4.13      1
4.50      1
5.01      1
Length: 273, dtype: int64

In [14]:
diamonds.groupby('cut')['price'].mean()

cut
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Good         3928.864452
Fair         4358.757764
Name: price, dtype: float64

In [15]:
diamonds.groupby('color')['price'].mean()

color
D    3169.954096
E    3076.752475
F    3724.886397
G    3999.135671
H    4486.669196
I    5091.874954
J    5323.818020
Name: price, dtype: float64

In [17]:
diamonds.groupby(['cut','color'])['price'].mean().unstack()

color,D,E,F,G,H,I,J
cut,,,,,,,
Ideal,2629.094566,2597.550090,3374.939362,3720.706388,3889.334831,4451.970377,4918.186384
Premium,3631.292576,3538.914420,4324.890176,4500.742134,5216.706780,5946.180672,6294.591584
Very Good,3470.467284,3214.652083,3778.820240,3872.753806,4535.390351,5255.879568,5103.513274
Good,3405.382175,3423.644159,3495.750275,4123.482204,4276.254986,5078.532567,4574.172638
Fair,4291.061350,3682.312500,3827.003205,4239.254777,5135.683168,4685.445714,4975.655462

In [18]:
diamonds.groupby(['cut','color','clarity'])['price'].mean().unstack()

clarity                    IF         VVS1         VVS2          VS1  \
cut       color
Ideal     D       6567.178571  2705.777778  3619.014085  2576.039886
          E       3258.936709  2205.519403  2556.335306  2175.797639
          F       2153.708955  2611.234091  3323.628846  3504.001623
          G       2206.030550  2909.198653  3795.651163  4116.918153
          H       1982.765487  1915.984663  2591.155709  3613.325482
          I       1502.621053  2034.396648  2858.679775  3944.421569
          J       2489.000000  2000.172414  4121.925926  4734.427861
Premium   D       9056.500000  3771.000000  3888.436170  4178.045802
          E       4525.444444  2699.857143  2940.942149  3721.695205
          F       3617.580645  3969.325000  4099.465753  4758.037931
          G       3311.114943  2933.654971  4323.570909  4435.823322
          H       3384.750000  1453.758929  2651.262712  3949.336310
          I       2358.565217  1831.083333  3190.768293  5339.366516
          J       7026.000000  7244.375000  6423.352941  5817.261438
Very Good D      10298.260870  2987.730769  2615.297872  2955.480000
          E       4332.744186  1997.447059  2041.684564  3089.358362
          F       4677.074627  2826.540230  3461.911647  3880.802048
          G       3525.240506  2719.331579  3711.784768  3770.150463
          H       2647.689655  2042.191304  2768.144828  3750.198444
          I       4093.894737  2056.420290  3059.887324  5276.970732
          J       1074.125000  3175.526316  5960.448276  4339.591667
Good      D      10030.333333  2586.230769  2345.640000  3556.581395
          E       1519.222222  1905.953488  3390.153846  3712.775281
          F       3132.866667  2189.514286  3192.360000  2787.507576
          G       4060.136364  2705.195122  3310.466667  4302.427632
          H       5948.750000  1719.709677  2428.000000  3819.116883
          I       1749.333333  2650.954545  2758.000000  4597.165049
          J       2738.000000  4633.000000  4371.153846  3662.826923
Fair      D       1619.666667  4473.000000  3607.000000  2921.200000
          E               NaN  4115.333333  3119.307692  3307.928571
          F       2344.000000  4679.800000  4018.200000  4103.060606
          G       1488.000000  2216.333333  3099.058824  3497.622222
          H               NaN  4115.000000  3481.727273  4604.750000
          I               NaN  4194.000000  2994.625000  4500.480000
          J               NaN  1691.000000  2998.000000  5906.187500

clarity                  VS2          SI1          SI2           I1
cut       color
Ideal     D      2111.927174  2490.459350  3142.047753  3526.923077
          E      2163.323944  2883.808094  3891.302772  3559.388889
          F      3317.204778  3710.322368  4335.507726  3903.452381
          G      4310.035165  3441.107576  4612.086420  4044.437500
          H      4039.125899  4769.988204  5589.473333  5415.184211
          I      4663.383562  5178.565476  7191.912409  4103.294118
          J      4867.133621  5115.674897  6555.172727  9454.000000
Premium   D      2919.356932  3236.377698  4351.085511  3818.750000
          E      3070.394277  3362.625407  4489.930636  3199.266667
          F      4221.466882  4040.467105  4747.089866  3554.558824
          G      4556.255201  4303.348057  5617.205285  4051.521739
          H      5553.875940  5707.722137  6718.946257  3904.347826
          I      7156.346032  6092.092643  7148.483974  5044.625000
          J      6175.559406  5726.578947  7550.285714  4577.230769
Very Good D      3145.194175  3234.931174  4425.458599  2622.800000
          E      3329.497018  3228.175719  4279.447191  3443.545455
          F      3995.944206  3574.291592  4249.758017  4252.923077
          G      4426.816284  3481.871308  4699.269113  3194.812500
          H      4620.220745  4933.945155  6112.413994  5258.833333
          I      5754.642336  5195.301676  6621.600000  6045.125000
          J      5325.548913  5026.543956  5992.898438  4478.375000
Good      D      3588.461538  3021.172996  3595.295964  3490.750000
          E      3772.018750  3162.132394  3785.490099  4398.130435
          F      3790.543478  3261.454212  4426.786070  2569.526316
          G      4140.713542  4129.328502  4776.411043  3195.789474
          H      4433.043478  4179.285106  5529.778481  3849.714286
          I      5956.563636  4742.945455  6933.012346  4175.444444
          J      4803.166667  4627.625000  5306.113208  3794.500000
Fair      D      4512.880000  4273.344828  4355.142857  7383.000000
          E      3041.714286  3901.153846  4172.384615  2095.222222
          F      3400.471698  3784.686747  4520.112360  2543.514286
          G      5384.444444  3579.362319  5665.150000  3187.471698
          H      5110.926829  5195.800000  6022.406593  4212.961538
          I      3856.125000  4574.966667  6658.022222  3501.000000
          J      4067.826087  4553.928571  5131.814815  5795.043478